body {
  background-color: #ffffff;
  color: #181717;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

h1 {
  background-color: #1F2121;
  margin: 0px;
  color: white;
  text-align: center;
  padding: 10px;
}

.input_form {
  background-color: #245060;
  text-align: center;
  margin: 0;
  padding: 15px;
}

.task_input {
  width: 30%;
  padding: 10px;
  font-size: 18px;
  font-family: 'Amaranth', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Serif Pro', serif;
  font-family: 'Indie Flower', cursive;
}

.add_btn {
  font-size: 18px;
  padding: 10px;
  font-family: 'Indie Flower', cursive;
}

.insert {
  font-size: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 50px;
  margin-right: 90px;
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #ffd900;
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
          box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

.archive {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-left: 90px;
  background-color: #ffd900;
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
          box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content h2 {
  font-size: 2rem;
}

.arch:disabled {
  background-color: inherit;
  cursor: default;
  border-color: transparent;
}

.arch {
  font-size: 2.5rem;
  height: 80px;
  padding: 10px;
  border-radius: 7px;
  background-color: #53a114;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
}

.valid {
  color: #54a114;
}

.task {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

label {
  vertical-align: top;
}

.toDo, .done {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background: transparent;
  border: 2px solid #555;
  vertical-align: baseline;
  outline: none;
}

.toDo:before, .done:before {
  font-family: FontAwesome;
  content: '\f00c';
  display: block;
  color: transparent;
  font-size: 20px;
  position: relative;
  bottom: 4px;
  left: 1px;
}

.toDo:hover {
  cursor: pointer;
}

.toDo:hover:before {
  color: rgba(0, 0, 0, 0.3);
}

.toDo:checked, .done:checked {
  position: relative;
}

.toDo:checked:before, .done:checked:before {
  color: #54a114;
}
/*# sourceMappingURL=style.css.map */